In [1]:
#Q-3

In [2]:
import pandas as pd
from scipy import stats as stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [4]:
custom= pd.read_csv("C:\\Users\\Raju A S\\Desktop\\python\BuyerRatio (1).csv")

In [5]:
custom.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [6]:
custom_table=custom.iloc[:,1:6]
custom_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [14]:
stat, p, dof, expected = chi2_contingency(custom.iloc[:,1:6])

In [16]:
p

0.6603094907091882

In [22]:
 # compare it with Î± = 0.05

In [17]:
print('dof=%d' % dof)
print(expected)

dof=3
[[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [21]:
alpha = 0.05
prob=1-alpha
critical = chi2.ppf(prob, dof)
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, stat))
if abs(stat) >= critical:
	print('Dependent (reject H0),variables are related')
else:
	print('Independent (fail to reject Ha), variables are not related')

probability=0.950, critical=7.815, stat=1.596
Independent (fail to reject Ha), variables are not related

In [20]:
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject Ha)')

significance=0.050, p=0.660
Independent (fail to reject Ha)